.rs-antenna-section {
	height: 60px;
	box-shadow: 0 0 6px #ccc;
	.antenna {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.logo-link {
		display: block;
	}
}
