@mixin clearfix() {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin text-ellipsis() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}